/* ==========================================================================
Colors
========================================================================== */
/*light-1 medium-2 dark-3*/
html {
	--color-primary-1: #FFEBE0;
	--color-primary-2: #FFC4A5;
	--color-primary-3: #ED8E5E;

	--color-secondary-1: #8A8CA3;
	--color-secondary-2: #545566;
	--color-secondary-3: #2D2E3D;

	--color-tertiary-1: #FCFCFC;
	--color-tertiary-2: #F7F8F9;
	--color-tertiary-3: #E1E2E3;

	--ratio:		1.414;
	--size-xsmall: 	calc( var(--size-small) / var(--ratio) );
	--size-small: 	calc( var(--size-large) / var(--ratio) );
	--size-large: 	calc( 1rem * var(--ratio) );
	--size-xlarge: 	calc( var(--size-large) * var(--ratio) );
	--sixe-2xlarge:	calc( var(--size-xlarge) * var(--ratio) );
	--size-3xlarge:	calc( var(--size-2xlarge) * var(--ratio) );
	
	--margin-ratio: 1.8;
	--margin-small: calc( var(--margin-large) / var(--margin-ratio));
	--margin-large: calc( 1rem * var(--margin-ratio));

}

/* ==========================================================================
Typography
========================================================================== */
html {
	--font-primary: 'Source Sans Pro', 'Open Sans', sans-serif;
	--font-secondary: 'Raleway', 'Open Sans', sans-serif;
	
	color: var(--color-secondary-3);
	font-family: var(--font-primary);
	line-height: 1.4;
}
a {
	color: var(--color-primary-3);
	text-decoration: none;
}
a:visited {
	color: var(--color-primary-3);
	text-decoration: none;
}
a:hover {
	color: var(--color-primary-2);
	text-decoration: none;
}
a:active {
	color: var(--color-tertiary-3);
	text-decoration: none;
}
	/* ==========================================================================
	Headings
	========================================================================== */
	h1,h2,h3,h4,h5,h6 {
		font-family: var(--font-secondary);
		margin: 0 0 var(--margin-large):;
	}
	h1 {
		color: var(--color-primary-3);
		font-size: var(--size-3xlarge);
		line-height: 1;
	}
	h2 {
		color: var(--color-primary-3);
		font-size: var(--size-2xlarge);
		line-height: 1.2;
	}
	h3 {
		font-size: var(--size-xlarge);
	}
	h4 {
		font-size: var(--size-large);
	}
	h5 {
		font-size: 1rem;
	}
	h6 {
		font-size: var(--size-small);
	}

	h1,h2 a {
		color: var(--color-primary-2);
		text-decoration: none;
	}
	h1,h2 a:visited {
		color: var(--color-primary-2);
		text-decoration: none;
	}
	h1,h2 a:hover {
		color: var(--color-primary-1);
		text-decoration: none;
	}
	h1,h2 a:active {
		color: var(--color-tertiary-3);
		text-decoration: none;
	}

	h3,h4,h5,h6 a {
	color: var(--color-secondary-3);
	text-decoration: none;
	}
	h3,h4,h5,h6 a:visited {
		color: var(--color-secondary-3);
		text-decoration: none;
	}
	h3,h4,h5,h6 a:hover {
		color: var(--color-secondary-2);
		text-decoration: none;
	}
	h3,h4,h5,h6 a:active {
		color: var(--color-tertiary-3);
		text-decoration: none;
	}
.featured-text {
	color: var(--color-secondary-2);
	font-family: var(--font-primary);
	font-size: var(--size-xlarge);
}
ol {
	list-style-position: inside;
	list-style-type: square;
}
ul {
	list-style-position: inside;
}
.tertiary-copy {
	color: var(--color-secondary-3);
	font-family: var(--font-primary);
	font-size: var(--size-small);
	line-height: 1.6;
}
blockquote {
	color: var(--color-primary-3);
	font-family: var(--font-secondary);
	font-size: var(--size-xlarge);
	font-style: italic;
}
/* ==========================================================================
Header Component
========================================================================== */
header {
	background-color: var(--color-primary-1);
	color: var(--color-secondary-1);
	padding: 2rem;
}
.logo {
	font-family: var(--font-secondary);
	color: var(--color-primary-3);
	font-size: var(--size-3xlarge);
}
/* ==========================================================================
Nav
========================================================================== */
nav li {
	display: inline;
}
nav a {
	color: var(--color-secondary-1);
	text-decoration: none;
}
nav a:visited {
	color: var(--color-secondary-1);
	text-decoration: none;
}
nav a:hover {
	color: var(--color-primary-3);
	text-decoration: none;
}
nav a:active {
	color: var(--color-tertiary-3);
	text-decoration: none;
}
/* ==========================================================================
Body Component
========================================================================== */
main {
	max-width: 32rem;
	margin: auto auto auto 20rem;
}
svg {
	max-width: 8rem;
}
figure {
	margin-right: -10rem;
}
/* ==========================================================================
Footer Component
========================================================================== */
footer {
	background-color: var(--color-primary-1);
	color: var(--color-secondary-3);
	padding: 2rem;
}
/* ==========================================================================
Example Classes
========================================================================== */
.primary-font {
	font-family: var(--font-primary);
}
/*.primary-font-italic {
	font-family: var(--font-secondary);
	font-style: italic; */
}
.secondary-font {
	font-family: var(--font-secondary);
}
	/* ==========================================================================
	Example Headings
	========================================================================== */
	.head1,.head2,.head3,.head4,.head5,.head6 {
		font-family: var(--font-secondary);
		margin: 0 0 var(--margin-large):;
	}
	.head1 {
		color: var(--color-primary-3);
		font-size: var(--size-3xlarge);
		line-height: 1;
	}
	.head2 {
		color: var(--color-primary-3);
		font-size: var(--size-2xlarge);
		line-height: 1.2;
	}
	.head3 {
		font-size: var(--size-xlarge);
	}
	.head4 {
		font-size: var(--size-large);
	}
	.head5 {
		font-size: 1rem;
	}
	.head6 {
		font-size: var(--size-small);
	}

	.head1,.head2 a {
		color: var(--color-primary-2);
		text-decoration: none;
	}
	.head1,.head2 a:visited {
		color: var(--color-primary-2);
		text-decoration: none;
	}
	.head1,.head2 a:hover {
		color: var(--color-primary-1);
		text-decoration: none;
	}
	.head1,.head2 a:active {
		color: var(--color-tertiary-3);
		text-decoration: none;
	}

	.head3,.head4,.head5,.head6 a {
	color: var(--color-secondary-3);
	text-decoration: none;
	}
	.head3,.head4,.head5,.head6 a:visited {
		color: var(--color-secondary-3);
		text-decoration: none;
	}
	.head3,.head4,.head5,.head6 a:hover {
		color: var(--color-secondary-2);
		text-decoration: none;
	}
	.head3,.head4,.head5,.head6 a:active {
		color: var(--color-tertiary-3);
		text-decoration: none;
	}