/* ==========================================================================
Colors
========================================================================== */
/*light-1 medium-2 dark-3*/
html {
	--color-primary-1: #FFEBE0;
	--color-primary-2: #FFC4A5;
	--color-primary-3: #ED8E5E;

	--color-secondary-1: #8A8CA3;
	--color-secondary-2: #545566;
	--color-secondary-3: #2D2E3D;

	--color-tertiary-1: #FCFCFC;
	--color-tertiary-2: #F7F8F9;
	--color-tertiary-3: #E1E2E3;

	--ratio:		1.333;
	--size-xsmall: 	calc( var(--size-small) / var(--ratio) );
	--size-small: 	calc( var(--size-large) / var(--ratio) );
	--size-large: 	calc( 1rem * var(--ratio) );
	--size-xlarge: 	calc( var(--size-large) * var(--ratio) );
	--size-2xlarge:	calc( var(--size-xlarge) * var(--ratio) );
	--size-3xlarge:	calc( var(--size-2xlarge) * var(--ratio) );
	
	--margin-ratio: 1.6;
	--margin-small: calc( var(--margin-large) / var(--margin-ratio));
	--margin-large: calc( 1rem * var(--margin-ratio));

}

/* ==========================================================================
Typography
========================================================================== */
html {
	--font-primary: 'Source Sans Pro', 'Open Sans', sans-serif;
	--font-secondary: 'Raleway', 'Open Sans', sans-serif;
	
	color: var(--color-secondary-3);
	font-family: var(--font-primary);
	line-height: 1.4;
}
a {
	color: var(--color-primary-3);
	text-decoration: none;
}
a:visited {
	color: var(--color-primary-3);
}
a:hover {
	color: var(--color-primary-2);
}
a:active {
	color: var(--color-tertiary-3);
}
a:focus {
	color: var(--color-primary-2);
}
/*
Headings
*/
h1,h2,h3,h4,h5,h6 {
	font-family: var(--font-secondary);
	margin: 0 0 var(--margin-large);
}
h1 {
	color: var(--color-primary-3);
	font-size: var(--size-3xlarge);
	line-height: 1.15;
}
h2 {
	color: var(--color-primary-3);
	font-size: var(--size-2xlarge);
	line-height: 1.25;
}
h3 {
	font-size: var(--size-xlarge);
}
h4 {
	font-size: var(--size-large);
}
h5 {
	font-size: var(--size-small);
}
h6 {
	font-size: var(--size-xsmall);
}
/*
h1, h2 Links
*/
h1 a {
	color: var(--color-secondary-2);
}
h1 a:visited {
	color: var(--color-secondary-2);
}
h1 a:hover {
	color: var(--color-primary-2);
}
h1 a:active {
	color: var(--color-secondary-1);
}
h1 a, h2 a {
	color: var(--color-secondary-2);
}
h1 a, h2 a:visited {
	color: var(--color-secondary-2);
}
h1 a, h2 a:hover {
	color: var(--color-primary-2);
}
h1 a, h2 a:active {
	color: var(--color-secondary-1);
}
/*
Specialty Text
*/
.featured-text {
	color: var(--color-secondary-2);
	font-size: var(--size-xlarge);
}
ul {
	list-style-position: inside;
	list-style-type: square;
	padding-left: 1.5rem;
}
ol {
	list-style-position: inside;
	padding-left: 1.5rem;
}
.tertiary-copy {
	color: var(--color-secondary-3);
	font-size: var(--size-small);
	line-height: 1.6;
}
blockquote {
	color: var(--color-primary-3);
	font-family: var(--font-secondary);
	font-size: var(--size-xlarge);
	font-style: italic;
}
/* ==========================================================================
Header Component
========================================================================== */
header {
	background-color: var(--color-primary-1);
	color: var(--color-secondary-1);
	margin: 0;
	padding: 1.8rem;
}
.logo {
	font-family: var(--font-secondary);
	color: var(--color-primary-3);
	font-size: var(--size-3xlarge);
}
/* ==========================================================================
Nav
========================================================================== */
nav ul {
	padding: 0;
}
nav li {
	display: inline;
	margin: .5rem 1rem .5rem 0;
	padding: .3rem .3rem .3rem 0;
}
nav a {
	color: var(--color-secondary-1);
}
nav a:visited {
	color: var(--color-secondary-1);
}
nav a:hover {
	color: var(--color-primary-3);
}
nav a:active {
	color: var(--color-tertiary-3);
}
/* ==========================================================================
Body Component
========================================================================== */
body {
	margin: 0;
}
main {
	max-width: 32rem;
	margin: 3rem auto 20rem;
}
svg {
	max-width: 8rem;
}
hr {
	margin: 3rem 0 .5rem;
	border-top: 1px solid var(--color-tertiary-3);
	width: 100%;
}
hr.secondary-separator {
	width: 66%;
}
/* ==========================================================================
Footer Component
========================================================================== */
footer {
	background-color: var(--color-primary-1);
	color: var(--color-secondary-3);
	padding: 1.8rem;
}
/* ==========================================================================
Examples
========================================================================== */
figure {
	border-left: 1px solid var(--color-tertiary-3);
	padding-left: .5rem;
}
.primary-font {
	font-family: var(--font-primary);
}
.primary-font-italic {
	font-family: var(--font-secondary);
	font-style: italic; 
}
.secondary-font {
	font-family: var(--font-secondary);
}
/* ==========================================================================
Components
========================================================================== */
/*
Button Links
*/
a.hero-button, a.hero-button:visited {
	background-color: var(--color-primary-3);
	color: var(--color-tertiary-1);
	display: inline-block;
	font: var(--size-small) var(--font-secondary);
	padding: 1rem 1.5rem;
	text-transform: uppercase;
}
a.hero-button:hover {
	background-color: var(--color-primary-2);
	color: var(--color-secondary-3);
}
a.hero-button:active {
	background: linear-gradient(to left, var(--color-primary-1), var(--color-primary-2) 60%);
	transition: all .4s ease-out;
}
 a.hero-button:focus {
	background-color: var(--color-primary-1);
	color: var(--color-secondary-3);
	transition: background-color .4s ease-in;
}
a.normal-button, a.normal-button:visited  {
	background-color: var(--color-secondary-3);
	color: var(--color-tertiary-1);
	display: inline-block;
	font: var(--size-small) var(--font-secondary);
	padding: 1rem 1.5rem;
	text-transform: uppercase;
}
a.normal-button:hover {
	background-color: var(--color-secondary-2);
}
a.normal-button:active {
	background: linear-gradient(to left, var(--color-secondary-1), var(--color-secondary-2) 60%);
	transition: all .4s ease-out;
}
a.normal-button:focus {
	background-color: var(--color-secondary-1);
	transition: all .4s ease-out;
}
a.tertiary-button, a.tertiary-button:visited  {
	border:  .2rem solid var(--color-secondary-3);
	color: var(--color-secondary-3);
	display: inline-block;
	font: var(--size-small) var(--font-secondary);
	padding: .8rem 1.3rem;
	text-transform: uppercase;
}
a.tertiary-button:hover {
	background-color: var(--color-secondary-3);
	border: none;
	color: var(--color-tertiary-1);	
	padding: 1rem 1.5rem;
}
a.tertiary-button:active {
	background: linear-gradient(to left, var(--color-secondary-1), var(--color-secondary-2) 60%);
	transition: all .4s ease-out;
}
a.tertiary-button:focus {
	background-color: var(--color-secondary-1);
	transition: all .4s ease-out;
	border: none;
	color: var(--color-tertiary-1);	
	padding: 1rem 1.5rem;
}
/*
Accordions
*/
details {
	background-color: var(--color-tertiary-1);
}
details div {
	padding: 1rem;
}
summary {
	background-color: var(--color-primary-1);
	list-style-image: url(arrow.svg);
	padding: 1rem;
}
summary::-webkit-details-marker {
    background: url(arrow.svg);
    color: transparent;
}
details[open] summary::-webkit-details-marker {
	background: url(arrowdown.svg);
}
details[open] details summary::-webkit-details-marker {
	background: url(arrow.svg);
}
details[open] details[open] summary::-webkit-details-marker {
	background: url(arrowdown.svg);
}
summary:focus, details[open] summary {
	background-color: var(--color-primary-2);
}
summary:focus, details[open] details summary {
	background-color: var(--color-primary-1);
}
summary:focus, details[open] details[open] summary {
	background-color: var(--color-primary-2);
}
/* ==========================================================================
Media Queries
========================================================================== */
/*media query main {
	max-width: 70%;
	margin:10rem auto 20rem auto;
}
}*/
/*aside nav (style and components: h2s), copyright on same row, media queries, animated buttons*/








