/* ==========================================================================
Variable Styles
========================================================================== */
	/*
	620 -unwrap or scale up figures
	1220 -show side bar  and shift over
	1500 -grow side bar 
	1700 -shift left to decrease aide margin
	*/

	/*light-1 medium-2 dark-3*/
	html {
		--color-primary-1: #FFEBE0;
		--color-primary-2: #FFC4A5;
		--color-primary-3: #ED8E5E;

		--color-secondary-1: #8A8CA3;
		--color-secondary-2: #545566;
		--color-secondary-3: #2D2E3D;

		--color-tertiary-1: #FCFCFC;
		--color-tertiary-2: #F7F8F9;
		--color-tertiary-3: #E1E2E3;

		--color-error-1: #FDCFCF;
		--color-error-2: #F94F4F;

		--color-success-1: #CFFCE6;
		--color-success-2: #4DF2A2;

		--ratio:		1.250;
		--size-xsmall: 	calc( var(--size-small) / (.9 * var(--ratio) ) );
		--size-small: 	calc( var(--size-large) / (.9 * var(--ratio) ) );
		--size-large: 	calc( 1rem * var(--ratio) );
		--size-xlarge: 	calc( var(--size-large) * var(--ratio) );
		--size-2xlarge:	calc( var(--size-xlarge) * var(--ratio) );
		--size-3xlarge:	calc( var(--size-2xlarge) * var(--ratio) );
		
		--margin-ratio: 1.6;
		--margin-small: calc( var(--margin-large) / var(--margin-ratio));
		--margin-large: calc( 1rem * var(--margin-ratio));
		--margin-xlarge: calc(var(--margin-large) * var(--margin-ratio));
	}
/* ==========================================================================
Typography
========================================================================== */
	html {
		--font-primary: 'Source Sans Pro', 'Open Sans', sans-serif;
		--font-secondary: 'Raleway', 'Open Sans', sans-serif;
		
		color: var(--color-secondary-3);
		font-family: var(--font-primary);
		line-height: 1.4;
	}

	@media (min-width: 620px) {
	
		html {
			line-height: 1.5;
			--margin-ratio: 1.8;
			--ratio: 1.333;
		}	
	}
	@media (min-width: 1500px) {
	
		html {
			line-height: 1.6;
			--ratio: 1.4;
		}
	}
	@media (min-width: 1700px) {
	
		html {
			--margin-ratio: 2;
			--ratio: 1.45;
		}	
	}

	/* ==========================================================================
	Links
	========================================================================== */
		a {
			color: var(--color-primary-3);
			text-decoration: none;
		}
		a:visited {
			color: var(--color-primary-3);
		}
		a:hover {
			color: var(--color-primary-2);
		}
		a:active {
			color: var(--color-secondary-1);
		}
		a:focus {
			color: var(--color-primary-2);
		}
	/* ==========================================================================
	Headings
	========================================================================== */
		h1,h2,h3,h4,h5,h6 {
			font-family: var(--font-secondary);
			margin: var(--margin-xlarge) 0 var(--margin-small);
		}
		h1 {
			color: var(--color-primary-3);
			font-size: var(--size-3xlarge);
			line-height: 1.25;
		}
		h2 {
			color: var(--color-primary-3);
			font-size: var(--size-2xlarge);
			line-height: 1.25;
		}
		h3 {
			font-size: var(--size-xlarge);
		}
		h4 {
			font-size: var(--size-large);
		}
		h5 {
			font-size: var(--size-small);
		}
		h6 {
			font-size: var(--size-xsmall);
		}
		.example-indicator {
			border-top: 2px solid var(--color-tertiary-3);
			margin: 3rem 0 .5rem;
			padding-top: .7rem;
			width: 100%;
		}
		.example-indicator-secondary{
			border-top: 2px solid var(--color-tertiary-3);
			margin: 3rem 0 .5rem;
			padding-top: .5rem;
			width: 20rem;
		}
		.nav-heading {
			background-color: var(--color-primary-1);
			font-size: var(--size-xlarge);
			margin: 0; 
			padding: 1.5rem 0 0 1.2rem; 
		}
	/* ==========================================================================
	Heading Links
	========================================================================== */
		h1 a {
			color: var(--color-secondary-2);
		}
		h1 a:visited {
			color: var(--color-secondary-2);
		}
		h1 a:hover {
			color: var(--color-primary-2);
		}
		h1 a:active {
			color: var(--color-secondary-1);
		}
		h1 a, h2 a {
			color: var(--color-secondary-2);
		}
		h1 a, h2 a:visited {
			color: var(--color-secondary-2);
		}
		h1 a, h2 a:hover {
			color: var(--color-primary-2);
		}
		h1 a, h2 a:active {
			color: var(--color-secondary-1);
		}
	/* ==========================================================================
	Specialty Text
	========================================================================== */
		.featured-text {
			color: var(--color-secondary-2);
			font-size: var(--size-xlarge);
		}
		ul {
			list-style-position: inside;
			list-style-type: square;
			padding-left: 1.5rem;
		}
		ol {
			list-style-position: inside;
			padding-left: 1.5rem;
		}
		.tertiary-copy {
			color: var(--color-secondary-3);
			font-size: var(--size-xsmall);
			line-height: 1.6;
		}
		blockquote {
			color: var(--color-primary-3);
			font-family: var(--font-secondary);
			font-size: var(--size-xlarge);
			font-style: italic;
		}
/* ==========================================================================
Header Component
========================================================================== */
	header {
		background-color: var(--color-primary-1);
		color: var(--color-secondary-1);
		margin: 0;
		padding: 1.8rem;
	}
	.logo {
		font-family: var(--font-secondary);
		color: var(--color-primary-3);
		font-size: var(--size-3xlarge);
	}
/* ==========================================================================
Hero Component
========================================================================== */
	.hero {
	    background-image: url(images/baking.jpg);
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    min-height: 20vh;
	}
	.overlay {
		background-color: rgba(252, 252, 252, .65);
		background-size: cover;
		min-height: 20vh;
		padding: .5rem 2rem 3.5rem;
	}
	.hero h1 {
	    font-size: 10vw;
	}
	.hero p {
	    font-size: 5vw;
	    margin-bottom: 1.5rem;
	}
	@media (min-width:620px) {
		.hero h1 {
	    	font-size: 8vw;
		}
		.hero p {
		    font-size: 3vw;
		    margin-bottom: 2rem;
		}
		.hero, .overlay {
			min-height: 30vh;
		}
	}
/* ==========================================================================
Nav
========================================================================== */
	/*
	Primary Nav
	*/
		.primary-nav ul {
			padding-left: -2rem;
		}
		.primary-nav li {
			display: block;
			margin: .5rem 1rem .5rem 0;
			padding: .3rem .3rem .3rem 0;
		}
		.primary-nav a {
			color: var(--color-secondary-1);
		}
		.primary-nav a:visited {
			color: var(--color-secondary-1);
		}
		.primary-nav a:hover {
			color: var(--color-primary-3);
		}
		.primary-nav a:active {
			color: var(--color-tertiary-3);
		}
		.current-page {
			border-bottom: .2rem solid var(--color-primary-3);
			padding: .2rem;
		}
		@media (min-width: 620px) {
			.primary-nav li {
				display: inline;
			}
		}
	/*
	Secondary Nav
	*/
		.secondary-nav ul {
			list-style: none;
			padding: 0;
		}
		.secondary-nav li {
			padding: 0 0 1rem;
		}
		.secondary-nav a {
			color: var(--color-secondary-3);
			padding-left: 0;
		}
		.secondary-nav a:visited {
			color: var(--color-secondary-3);
		}
		.secondary-nav a:hover {
			color: var(--color-primary-3);
		}
		.secondary-nav a:active {
			color: var(--color-secondary-1);
		}
	/*
	Sidebar
	*/
		
		.sidebar {
			position: fixed;
			overflow-y: auto;
			top: 0;
			bottom: 0;
			visibility: hidden;

		}
		.side-nav ul {
			background-color: var(--color-primary-1);
			list-style: none;
			margin: 0;
			padding: .5rem 1.2rem;
		}
		.side-nav li {
			padding: 0 .5rem .5rem;
		}
		.side-nav a {
			color: var(--color-secondary-3);
		}
		.side-nav a:visited {
			color: var(--color-secondary-3);
		}
		.side-nav a:hover {
			color: var(--color-primary-3);
		}
		.side-nav a:active {
			color: var(--color-secondary-1);
		}
		@media (min-width: 1220px) {
			.sidebar {
				bottom: 0;
				height: 60vh;
				left: 0;
				position: fixed;
				top: 14.25rem;
				visibility: visible;
			}
		}
		@media (min-width: 1500px) {
			.sidebar {
				margin-bottom: 27.5rem;
			}
		}
		@media (min-width: 1700px) {
			.sidebar {
				margin-bottom: 34.5rem;
			}
		}
		/*.side-drawer {
			position: fixed;
			left: -18rem;
			transform: translateX(18rem);
			transition: transform 0.5s;
		}*/
/* ==========================================================================
Body Component
========================================================================== */
	body {
		margin: 0;
	}
	main {
		max-width: 32rem;
		margin: 3rem 1rem 5rem;
	}
	svg {
		max-width: 18rem;
	}
	text {
		font-size: 100%
		padding: 0 .1rem;
	}

	@media (min-width: 620px) {	
		main {
			margin: 3rem auto 6rem;
		}
	}
	@media (min-width: 1220px) {
		main {
			max-width: 37rem;
			margin: 3rem auto 7rem;
		}
		svg {
			max-width: 10rem;
		}
	}
	@media (min-width: 1700px) {
		main {
			max-width: 43rem;
			margin: 3rem auto 10rem;
		}
		svg {
			max-width: 12rem;
		}
	}
/* ==========================================================================
Footer Component
========================================================================== */
	footer {
		background-color: var(--color-primary-1);
		color: var(--color-secondary-3);
		display: inline-block;
		padding: 1.8rem 1.8rem 1rem;
		min-width: 100%;
	}
	.footer-text {
		max-width: 85%;
	}
	.footer-links {
		display: inline-block;
	}
	.footer-links ul {
		padding-left: 0;
	}
	.copy-text {
		display: block;
	}

	@media (min-width: 760px) {
		.footer-text {
			display: inline-block;
			margin: 0 6rem 2rem 2rem;
			max-width: 57%;
		}
		.secondary-nav {
			display: inline-block;
			margin: 0 3rem 2rem 3rem;
			max-width: 10rem;
		}
		.secondary-nav ul {
			margin-top: 0;
		}
		.footer-links {
			display: inline-block;
			margin: 1rem 3rem 0;
		}
		.copy-text {
			display: inline-block;
		}
	}
	@media (min-width: 1220px) {
		.footer-text {
			margin: 0 6rem 2rem 12rem;
			max-width: 60%
		}
	}
	@media (min-width: 1500px) {
		.footer-text {
			margin: 0 6rem 2rem 19rem;
		}
	}
	@media (min-width: 1700px) {
		.footer-text {
			margin: 0 6rem 2rem 26rem;
			max-width: 40rem;
		}
		.footer-links {
			display: block;
			margin-left: 20%;
		}
		.copy-text {
			margin: 0 3rem 2rem 20%;
		}
		.secondary-nav {
			margin: 0 3rem 2rem 20%;
		}
	}
/* ==========================================================================
Examples
========================================================================== */
	figure {
		border-left: 1px solid var(--color-tertiary-3);
		padding-left: 1rem;
	}
	.primary-font {
		font-family: var(--font-primary);
	}
	.primary-font-italic {
		font-family: var(--font-secondary);
		font-style: italic; 
	}
	.secondary-font {
		font-family: var(--font-secondary);
	}
	/* Example Headings */ 
/* ==========================================================================
Components
========================================================================== */
	/* ==========================================================================
	Button Links
	========================================================================== */
		/*
		Hero Buttons
		*/
			a.hero-button, a.hero-button:visited {
				background-color: var(--color-primary-3);
				color: var(--color-tertiary-1);
				display: inline-block;
				font: 4vw var(--font-secondary);
				padding: .7rem 1rem;
				text-transform: uppercase;
			}
			a.hero-button:hover {
				background-color: var(--color-primary-2);
				color: var(--color-secondary-3);
			}
			a.hero-button:active {
				background: linear-gradient(to left, var(--color-primary-1), var(--color-primary-2) 60%);
				transition: all .4s ease-out;
			}
			 a.hero-button:focus {
				background-color: var(--color-primary-1);
				color: var(--color-secondary-3);
				transition: background-color .4s ease-in;
			}
			@media (min-width:620px) {
				a.hero-button {
					font: 1vw;
					padding: 1rem 1.5rem;
				}
			}
		/*
		Normal Buttons
		*/
			a.normal-button, a.normal-button:visited  {
				background-color: var(--color-secondary-3);
				color: var(--color-tertiary-1);
				display: inline-block;
				font: var(--size-small) var(--font-secondary);
				padding: 1rem 1.5rem;
				text-transform: uppercase;
			}
			a.normal-button:hover {
				background-color: var(--color-secondary-2);
			}
			a.normal-button:active {
				background: linear-gradient(to left, var(--color-secondary-1), var(--color-secondary-2) 60%);
				transition: all .4s ease-out;
			}
			a.normal-button:focus {
				background-color: var(--color-secondary-1);
				transition: all .4s ease-out;
			}
		/*
		Tertiary Buttons
		*/
				border:  .2rem solid var(--color-secondary-3);
			a.tertiary-button, a.tertiary-button:visited  {
				color: var(--color-secondary-3);
				display: inline-block;
				font: var(--size-small) var(--font-secondary);
				padding: .8rem 1.3rem;
				text-transform: uppercase;
			}
			a.tertiary-button:hover {
				background-color: var(--color-secondary-3);
				border: none;
				color: var(--color-tertiary-1);	
				padding: 1rem 1.5rem;
			}
			a.tertiary-button:active {
				background: linear-gradient(to left, var(--color-secondary-1), var(--color-secondary-2) 60%);
				transition: all .4s ease-out;
			}
			a.tertiary-button:focus {
				background-color: var(--color-secondary-1);
				transition: all .4s ease-out;
				border: none;
				color: var(--color-tertiary-1);	
				padding: 1rem 1.5rem;
			}
	/* ==========================================================================
	Accordions
	========================================================================== */
		details {
			background-color: var(--color-tertiary-1);
		}
		details div {
			padding: 1rem;
		}
		summary {
			background-color: var(--color-primary-1);
			list-style-image: url(images/arrow.svg);
			padding: 1rem;
		}
		summary::-webkit-details-marker {
		    background: url(images/arrow.svg);
		    color: transparent;
		}
		details[open] summary::-webkit-details-marker {
			background: url(images/arrowdown.svg);
		}
		details[open] details summary::-webkit-details-marker {
			background: url(images/arrow.svg);
		}
		details[open] details[open] summary::-webkit-details-marker {
			background: url(images/arrowdown.svg);
		}
		summary:focus, details[open] summary {
			background-color: var(--color-primary-2);
		}
		summary:focus, details[open] details summary {
			background-color: var(--color-primary-1);
		}
		summary:focus, details[open] details[open] summary {
			background-color: var(--color-primary-2);
		}
	/* ==========================================================================
	Modal
	========================================================================== */
		@keyframes in-and-out {
			0% {
				border: solid var(--color-tertiary-1);
			}
			20% {
				border: solid var(--color-primary-2);
			}
			100% {
				border: solid var(--color-tertiary-1);
			} 
		}
		@keyframes fade {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
		dialog {
			background-color: var(--color-tertiary-1);
			border: solid var(--color-tertiary-1);;
			margin: 0 6rem;
			padding: 1.5rem 3rem;
		}
		dialog[open] {
			animation: in-and-out 2s;
			max-width: 20rem;
			margin: auto;
		}
		dialog::backdrop {
			animation: fade 1s ease-out;
			background-color: rgba(138, 140, 163, .5);
		}
	/* ==========================================================================
	Forms
	========================================================================== */
		input, textarea, select {
			display: block;
			font-size: var(--size-xsmall);
			margin: .25rem 0 1.5rem 0;
			min-width: 15rem;
			padding: 1rem;
		}
		textarea {
			min-height: 10rem;
			min-width: 20rem;
		}
		label {
			display:block;
		}
		.helper-text {
			color: var(--color-secondary-1);
			font-size: var(--size-xsmall);
			margin: -1.25rem 0 1.5rem;
		}
		/*
		Select 
		*/
			.custom-select {
				background: url(images/arrow.svg) no-repeat 96%;
				background-color: var(--color-primary-1);
				height: 2.8rem;
				margin-bottom: 1.5rem;
				overflow: hidden;
				width: 15rem;
			}
			.custom-select select {
				background: transparent;
				border: none;
				height: 2.8rem;
				width: 16rem;
			}
		/* 
		Checkboxes 
		*/
			.checkbox input[type="checkbox"] {
				margin: 0;
				opacity: 0;
				position: relative;
				top: 2rem;
			}
			.checkbox label::before {
				border: 2px solid var(--color-primary-3);   
				content: "";
				display: inline-block;
				height: 1rem;
				width: 1rem;
			}
			.checkbox label::after {
				border-bottom: 2px solid var(--color-primary-3);
				border-left: 2px solid var(--color-primary-3);
				content: "";
				display: inline-block;
				height: 6px;
				transform: rotate(-45deg);
				width: 9px;
			}
			.checkbox label {
				position: relative;
			}
			.checkbox label::before,
			.checkbox label::after {
				position: absolute;
			}
			/*Outer-box*/
			.checkbox label::before {
				top: 3px;
			}
			/*Checkmark*/
			.checkbox label::after {
				left: 4px;
				top: 7px;
			}
			/*Hide the checkmark by default*/
			.checkbox input[type="checkbox"] + label::after {
				content: none;
			}
			/*Unhide the checkmark on the checked state*/
			.checkbox input[type="checkbox"]:checked + label::after {
				content: "";
			}
			/*Adding focus styles on the outer-box of the fake checkbox*/
			.checkbox input[type="checkbox"]:focus + label::before {
				outline: var(--color-primary-3) auto 5px;
			}
			.checkbox p {
				left: 2rem;
				position: relative;
				
			}



			/* Checkbox Attempts */

			/*
			input[type="checkbox"] {
				background-color: var(--color-primary-1);
				display: inline;
				height: 1rem;
				margin: .5rem .75rem .5rem .5rem;
				width: 1rem;
			}
			.indicator {
				background-color: var(--color-primary-1);
				height: 2rem;
				margin: .25rem 0 .75rem 0;
				padding: .5rem;
				width: 15rem;
			}
			.unfilled {
				max-width: .5rem;
			}
			.filled {
				max-width: .5rem;
			}	

			.unfilled input[type="checkbox"] [checked] {
				display: hidden;
			}

			.filled input[type="checkbox"] [checked] {
				display: block;
			}

			input[type="checkbox"] {
				background-color: var(--color-primary-1);
				clip-path: polygon(0px 0px,0px 0px,0px 0px,0px 0px);
				display: inline;
				height: 1rem;
				margin: .5rem .75rem .5rem .5rem;
				width: 1rem;
			}
			.indicator {
				background-color: var(--color-primary-1);
				height: 2rem;
				margin: .25rem 0 .75rem 0;
				padding: .5rem;
				width: 15rem;
			}
			.checkmark {
				display: none;
						
			}
			input[type="checkbox"][checked] + svg .checkmark {
				display: block;
			}
			
		
			.box {
				height: 1rem;
				margin-bottom: 1.5rem;
				display: inline;
				width: 1rem;
			}
			.box input[type="checkbox"] {
				background: transparent;
				border: none;
				display: none;
				height: 2rem;
				width: 2rem;
				margin: 0;
			}
			.box-label {
				cursor: pointer;
				display: inline;
				padding: .25;
			}
			.box-style {
				background: var(--color-primary-1);
				margin: 0 1rem 0 0;
				padding: .25rem 1rem;
			}
			.box-style:checked {
				background: var(--color-primary-2);
			}
			[type="checkbox"]:not(:checked)*/

			/*[type="checkbox"]:checked,
			[type="checkbox"]:not(:checked) {
			position: absolute;
			left: -9999px;
			}
			[type="checkbox"]:checked + label,
			[type="checkbox"]:not(:checked) + label
			{
			position: relative;
			padding-left: 28px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: #666;
			}
			[type="checkbox"]:checked + label:before,
			[type="checkbox"]:not(:checked) + label:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 18px;
			height: 18px;
			border: 1px solid #ddd;
			background: #FFEBE0;
			}
			[type="checkbox"]:checked + label:after,
			[type="checkbox"]:not(:checked) + label:after {
			content: '';
			width: 16px;
			height: 16px;
			background: #FFC4A5;
			position: absolute;
			top: 2px;
			left: 2px;
			-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
			}
			[type="checkbox"]:not(:checked) + label:after {
			opacity: 0;
			-webkit-transform: scale(0);
			transform: scale(0);
			}
			[type="checkbox"]:checked + label:after {
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
			}
		*/

		/*
		Submit / Button
		*/
			form button, input[type="submit"] {
				background-color: var(--color-primary-3);
				border: none;
				box-shadow: .5px 1px 2px var(--color-secondary-1);
				color: var(--color-tertiary-1);
				font-size: var(--size-xsmall);
				margin: 1rem 0;
				padding: 1rem 1.5rem;
				text-transform: uppercase;
			}
			form button:hover, input[type="submit"]:hover {
				background-color: var(--color-primary-2);
				color: var(--color-secondary-3);
			}
			form button:focus, input[type="submit"]:focus {
				background-color: var(--color-primary-2);
				color: var(--color-secondary-3);
				outline: none;
			}
			form button:active, input[type="submit"]:active {
				background-color: var(--color-primary-1);
				box-shadow: 0 .5px 1.5px var(--color-secondary-1);
				color: var(--color-secondary-3);
				transition: all .5s;
			}
	/* ==========================================================================
	Form messgaes 
	========================================================================== */
		/*.error {
		    background-color: var(--color-error-1);
		    border: 2px solid var(--color-error-2);
		}*/

		.error label::before {
			border: 2px solid var(--color-error-2);   
		}
		.error .checkbox label::after {
			border-bottom: 2px solid var(--color-error-2);
			border-left: 2px solid var(--color-error-2);
		}
		.error-message {
			color: var(--color-error-2);
			font-size: var(--size-xsmall);
			margin: -1.4rem 0 1.5rem;
		}
	/* ==========================================================================
	Notifications
	========================================================================== */
		.notification {
			display: flex;
			flex-direction: column;
			font-size: var(--size-xsmall);
			justify-content: space-between;
			line-height: 1.6;
			margin: .5rem;
			padding: 1rem;
		}
		.notification-icon {
			height: 3rem;
			padding: .3rem;
			width: 3rem;
		}
		.icon-message {
			display: flex;
			flex-direction: row;
		}
		.notification-button {
			margin-left: auto;
		}
		/*
		Error Notification
		*/
			.error-notification {
				background-color: var(--color-error-1);
			}
			.error-notification a, .error-notification a:visited  {
				background-color: var(--color-error-2);
				border:  .2rem solid var(--color-error-2);
				color: var(--color-secondary-3);
				display: inline-block;
				font: var(--font-secondary);
				padding: .8rem 1.3rem;
				text-transform: uppercase;
			}
			.error-notification a:hover {
				background-color: var(--color-secondary-3);
				border: none;
				color: var(--color-tertiary-1);	
				padding: 1rem 1.5rem;
			}
			.error-notification a:active {
				background: linear-gradient(to left, var(--color-secondary-1), var(--color-secondary-2) 60%);
				transition: all .4s ease-out;
			}
			.error-notification a:focus {
				background-color: var(--color-secondary-1);
				transition: all .4s ease-out;
				border: none;
				color: var(--color-tertiary-1);	
				padding: 1rem 1.5rem;
			}
		/*
		Warning Notification
		*/
			.warning-notification {
				background-color: var(--color-primary-1);
			}
			.warning-notification a, .warning-notification a:visited  {
				background-color: var(--color-primary-3);
				border:  .2rem solid var(--color-primary-3);
				color: var(--color-secondary-3);
				display: inline-block;
				font: var(--font-secondary);
				padding: .8rem 1.3rem;
				text-transform: uppercase;
			}
			.warning-notification a:hover {
				background-color: var(--color-secondary-3);
				border: none;
				color: var(--color-tertiary-1);	
				padding: 1rem 1.5rem;
			}
			.warning-notification a:active {
				background: linear-gradient(to left, var(--color-secondary-1), var(--color-secondary-2) 60%);
				transition: all .4s ease-out;
			}
			.warning-notification a:focus {
				background-color: var(--color-secondary-1);
				transition: all .4s ease-out;
				border: none;
				color: var(--color-tertiary-1);	
				padding: 1rem 1.5rem;
			}
		/*
		Neutral Notification
		*/
			.neutral-notification {
				background-color: var(--color-secondary-2);
				color: var(--color-tertiary-1);
			}
		/*
		Success Notification
		*/
			.success-notification {
				background-color: var(--color-success-1);
			}
	/* ==========================================================================
	Hero Examples
	========================================================================== */
		.example-img {
			max-width: 28rem
		}
	/* ==========================================================================
	Cards
	========================================================================== */
		.card {
			background-color: var(--color-primary-1);
			box-shadow: 5px 6px var(--color-tertiary-3);
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1rem;			
		}
		.card-example {
			max-width: 28rem;
		}
		.article-card a {
			color: var(--color-secondary-3);
		}
		.card-hover {
			display: inline-block;
			position: relative;	
		}
		.card-heading {
			margin: 1rem 0 .5rem;
		}
		.card img {
			max-width: 100%;
		}
		a .card-text {
			align-items: center;
			background-color: rgba(237, 142, 94, 0.7);
			bottom: -1rem;
			color: var(--color-tertiary-1);
			display: none;
			justify-content: center;
			left: -1rem;
			min-height: 20rem;
			position: absolute;
			right: -1rem;
			text-transform: uppercase;
			top: -1rem;
		}
		a:hover span {
			display: flex;
		}
		.card svg {
			max-width: 4rem;
		}
		@media (min-width: 1220px) {
			.card svg {
				max-width: 5rem;
			}
		}
	/*
	Text Card
	*/
		.text-card {
			display: grid;
			grid-template-columns: repeat (6, 1fr);
			grid-template-rows: repeat (6, 1fr);
			background-color: var(--color-primary-1);
			box-shadow: 5px 6px var(--color-tertiary-3);
			padding: 0 1rem 1rem;
		}
		.text-card h2 {
			grid-column: 1 / span 6;
			grid-row: 1 / span 1;
		}
		.text-card p {
			grid-column: 1 / span 6;
			grid-row: 2 / span 1;
		}
		.text-card img {
			grid-column: 1 / span 6;
			grid-row: 3 / span 4;
		}
		.text-card p.featured-text {
			background-color: rgba(255, 235, 224, 0.7);
			grid-column: 1 / span 6;
			grid-row: 4 / span 2;
			padding: 2rem;
			margin: auto;
		}

/* ==========================================================================
Layout
========================================================================== */
	/*
	Card Grid
	*/
		.article-grid-layout {
			display: grid;
			grid-gap: 1.5rem;
			grid-template-columns: repeat(12, 1fr);
			margin: 3rem 5vw 10rem;
			max-width: 100%;
		}
		.article-card {
			grid-column: span 12;
		}
		@media (min-width: 620px) {	
			.article-card {
				grid-column: span 6;
			}
		}
		@media (min-width: 1220px) {
			.article-card {
				grid-column: span 3;
			}
		}
	/*
	Card Callouts
	*/
		.cta-grid-layout {
			display: grid;
			grid-gap: 1.5rem;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(4, 30vh);
			margin: 3rem 5vw 10rem;
			max-width: 100%;
		}
		.cta-card:first-child {
			grid-column: 1 / span 12;
			grid-row: 1 / span 2;
		}
		.cta-card {
			grid-column: span 12;
			justify-content: center;
		}
		@media (min-width: 620px) {
			.cta-card:first-child {
				grid-column: 1 / span 12;
				grid-row: 1 / span 2;
			}
			.cta-card {
				grid-column: span 6;
				justify-content: center;
			}
		}
		@media (min-width: 1220px) {
			.cta-card:first-child {
				grid-column: 1 / span 8;
				grid-row: 1 / span 2;
			}
			.cta-card {
				grid-column: span 4;
				justify-content: center;
			}
			.cta-grid-layout {
				grid-template-rows: 30vh 30vh;
			}
		}
		@media (min-width: 1700px) {
			.cta-grid-layout {
				margin: 3rem 8vw 10rem;
			}
		}

			
/*aside nav (style and components: 	h2s),
 copyright on same row, media queries, animated buttons, 
 button push in hide replace check boxes in label, 
 range with webkit maybe styeable css tricks article, get check boxes to work*/




























